/* .navbar {
    position: fixed;
    margin-bottom: 500px;
    width:100%;
}

.navitems{
    align-items: center;
}


.navbar li {
    float: left;
    margin: 0 15px;

    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    list-style-type: none;
}

.navbar li a {
    text-decoration: none;
    color: white;
}

.navbar li a:hover {
    color: #f78720;
} */

.nav-link{
    margin: 20px;
    color: white;
    font-family: 'Poppins', sans-serif;
    /* padding: 10px 25px; */
}

.navbar li a:hover {
    background-color: rgb(255, 255, 255);
}

.hamburger-menu-icon{
    /* background-color: aquamarine; */
    margin: 20px;

    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/Hamburger_icon_white.svg/1200px-Hamburger_icon_white.svg.png");
}